@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap');

body {
    background: #fffaf5;
}

.bg-brown {
    background: #171717;
}

.bg-grey {
    background: #444444;
}


.ff-1 {
    font-family: 'Inknut Antiqua', serif;
}

.hero-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    padding: 5px 0;
    border: solid 1px #CA9E79;
    background: #CA9E79;
    width: 180px;
    padding: 5px;
    cursor: pointer;

    * {
        padding: 0;
        margin: 0;

    }

    p {
        margin-left: 20px;
        font-weight: 600;
    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        border-radius: 50%;
        font-size: 1px;
        height: 30px;
        width: 30px;
    }

}

.mt-100 {
    margin-top: 100px;
}

.custom-modal-right {
    @media (min-width: 576px){

         .modal-dialog {
            position: fixed;
            margin-left: auto;
            width: 320px;
            height: 100%;
            transition: right 0.3s ease-out;
        }
    }

    .modal.right.show .modal-dialog {
        right: 0;
    }

    .modal.right.fade .modal-dialog {
        transition: none;
    }

}

.custom-container {
    max-width: 1500px;
    width: 100%;
    
    margin: auto;
  }